<nav class="navbar navbar-default navbar-fixed-top" ng-if="account">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-primary" href >Admin Panel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  ><a  href="#/main"><i class="fa fa-home"></i> Home</a></li>
        
        <li class="dropdown">
          <a href  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/centers"><i class="fa fa-building "></i>   Centers</a></li>
            <li><a href="#/centers/0"><i class="fa fa-plus"></i> Add New Center</a></li>
			 

          </ul>
        </li>
		 
		
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href ><small>Welcome :</small><span class="text-info"><i class="fa fa-user"></i>  {{account.name}}</span></a></li>
        <li ><a href  ng-click="logoff()"><span class="text-danger"><i class="fa fa-power-off"></i> Logoff</span></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>