<ol class="breadcrumb">
    <li><a href='#/main'><i class="fa fa-home"></i> Home</a></li>
    <li><a href='#/students'><i class="fa fa-building"></i> Students</a></li>
    <li class="active"><i class="fa fa-edit"></i>
        <span ng-show="!row.id">Add New Student </span>
        <span ng-show="row.id">Edit Student</span>
    </li>
</ol>
<alert></alert>
<loading></loading>

<div class="row"><br></div>

<form novalidate name="nform" class="form-horizontal well col-xs-12">

    <div class=" col-md-7">

        <div class="form-group">
            <a class="btn btn-primary" ng-click="submit()" ng-disabled="nform.$invalid">
                <i class="fa fa-save"></i> Save</a>
            <a class='btn btn-info' href='#/students'><i class='fa fa-list'></i> Students</a>
        </div>

        <div class="form-group">
            <label class="col-sm-3">First Name <b class="text-danger">*</b></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required name="name" ng-model="row.f_name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3">Last Name <b class="text-danger">*</b></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required name="name" ng-model="row.l_name"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">Status <b class="text-danger">*</b></label>
            <div class="col-sm-9">
                <select class="form-control" required name="status" ng-model="row.status"
                        ng-options="id as status for (id,status) in lists.status">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">Birthday <b class="text-danger">*</b></label>
            <div class="input-group"
                 change="row.birthday = ctrl.datepicker "
                 moment-picker="ctrl.datepicker"
                 format="YYYY-MM-DD">
    <span class="input-group-addon">
        <i class="octicon octicon-calendar"></i>
    </span>
                <input class="form-control"
                       placeholder="Select a date"
                       ng-model="ctrl.datepicker"
                       ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>


    </div>

</form>

