<ol class="breadcrumb">
    <li><a href='#/main'><i class="fa fa-home"></i> Home</a></li>
    <li class="active"><i class="fa fa-building"></i>  students</li>


</ol>



<div class="col-xs-6 col-md-3">
    <a class='btn btn-primary' href='#/students/0'><i class='fa fa-plus'></i> Add  Student</a>
</div>
<br>
<alert></alert>
<loading></loading>


<div class="row"><br></div>

<table dir="ltr" width="500" border="1"
       summary="purpose/structure for speech output">
    <caption>Students
    </caption>
    <colgroup width="50%" />
    <colgroup id="colgroup" class="colgroup" align="center"
              valign="middle" title="title" width="1*"
              span="2" style="background:#ddd;" />
    <thead>
    <tr>
        <th scope="col">name</th>
        <th scope="col">Side</th>
        <th scope="col">Role</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tfoot>
    <tr ng-repeat="row in rows| filter:search" href ng-click="href(['students',row.id])">
        <td>{{row.f_name}}</td>
        <td>{{row.l_name}}</td>
        <td> {{lists.status[row.status]||row.status}}</td>
        <td>{{row.birthday}}</td>
    </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>



