<div class="jumbotron">
  <h1>Admin Panel <small>SYS Class  </small></h1> 
  <p>Welcome to SYS Class    <br>about the system 
  </p>
   <a  href="#/centers/0" class="btn btn-info" ><i class="fa fa-plus"></i> Add  center</a>
   <div class="row"><br></div>
  <ul class="list-group">
  <li class="list-group-item"><a style="font-size: 150%;"  href="#/centers"><i class="fa fa-building"></i> Centers</a></li>
  <li class="list-group-item"><a  style="font-size: 150%;"  href="#/config"><i class="fa fa-gear"></i> Settings</a></li>
  <li class="list-group-item"><a  style="font-size: 150%;"  href="#/students"><i class="fa fa-child"></i>  Students</a></li>
  <li class="list-group-item"><a  style="font-size: 150%;"  href="#/teachers"><i class="fa fa-child"></i>  Teachers</a></li>

</ul>
<small>Powered by Test Company 2019</small>
</div>

